@import "tailwindcss";
*{
  font-family: "DM Mono", monospace;
  scroll-behavior: smooth;
  scroll-margin: 7rem;
}
:root{

  
}

@theme{
  --color-primary: #E6E2D3;
  --color-primary_darker: #D4CBB8;
  --color-secondary: #7FA97F;
  --color-accent: #3D7F7B;

}
h1{
  color: var(--color-accent);
  font-size:2.5rem;
  font-weight: var(--font-weight-semibold);
  
}

@keyframes shadow {
  0%{
    box-shadow: 0 10px 50px 0 color-mix(in oklab, var(--color-secondary) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent), inset 0 10px 50px 0 color-mix(in oklab, var(--color-accent) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent);
    transform: scale(1);
   
  }
  25%{
    box-shadow: 10px 0 50px -10px color-mix(in oklab, var(--color-secondary) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent), inset 10px 0 50px -10px color-mix(in oklab, var(--color-accent) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent);
    transform: scale(1.005)
  }
  50%{
    box-shadow: 0 10px 50px 0 color-mix(in oklab, var(--color-accent) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent), inset 0 10px 50px 0 color-mix(in oklab, var(--color-secondary) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent);
    transform: scale(1);
  }
  75%{
    box-shadow: 10px 0 50px -10px color-mix(in oklab, var(--color-accent) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent), inset 10px 0 50px -10px color-mix(in oklab, var(--color-secondary) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent);
    transform: scale(1.005)
  }
  100%{
    box-shadow: 0 10px 50px 0 color-mix(in oklab, var(--color-secondary) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent), inset 0 10px 50px 0 color-mix(in oklab, var(--color-accent) /* #7FA97F = #7fa97f */ var(--tw-shadow-alpha), transparent);
    transform: scale(1);
  }
  
}